<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="XUA-Comptible" content="IE=edge" />
    <meta name="viewport" content="width=divce-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <main>
        <form method="post" action="/contact">
            <h1> Contact Now</h1>
            <input type="text" name="name" placeholder="Name" />
            <input type="email" name="email" placeholder="emali" />
            <button type="submit">Send Message</button>
        </form>
    </main>
</body>

<script src="script.js"></script>

</html>