<!DOCTYPE html>
<html lagn="en"> 
    <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Copatible" content="IE=edge"/>  
    <meta name="viewport" content="width=divce-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles.css"/>
    <title> register</title>  
    </head>
    <body>
        <main>
            <form method="post">
                <h1> Register Now</h1>
                <input type="text" name="name" placeholder="Name" />
                <input type="email" name="email" placeholder="emali" />
                <input type="password" name="password" placeholder="password">
                <p class="error"> <%=locals.message%></p>
                <button type="submit">Sing Up</button>
            </form>
        </main>
        </body>

    </html>